$colors:(
    "light-beige":#f1ebe9,
    "beige":#e2ddd9,
    "light-brown":#db9457,
    "light-grey":#edeeed,
    "light-grey-2":#f6f6f7,
    "dark-grey":#242424,
    "black":black,
    "white":white
);

$sizes:(
    "xs":640px,
    "sm":720px,
    "md":960px,
    "lg":1080px,
    "xl":1280px
);

$spacings:(
    "xs":3px,
    "sm":5px,
    "md":10px,
    "lg":15px,
    "xl":20px,
    "xxl":30px
);

$textTransforms:uppercase, lowercase, capitalize, none, full-width, full-size-kana;
$displays:inline inline-block block none grid flex table table-cell;
$positions:static relative absolute fixed sticky;
$alignItems:left right center;
$alignContents:left right center space-between space-around space-evenly;
$textAligns:left right center justify;